
	<div class="column has-text-centered">
		<p><%= currcard.data %></p>
		<p><%= puts currcard.data %></p>
		<br>

		<div class="column has-text-centered">
			<% if @answered %>
				<% if currcard.cardtype == "true" %>
				<p>Correct!</p>
				<% currcard.cardtype = "false" %>
				<% else %>
				<p>False!</p>
				<% end %>
				<% @answered = false %>
				<%= link_to "Next", fetch_card_path, :remote => true %>
			<% end %>
		</div>
	</div>
